<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{178,59}</string>
			<key>spriteSourceSize</key>
			<string>{180,62}</string>
			<key>textureRect</key>
			<string>{{1,1781},{178,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{851,97}</string>
			<key>spriteSourceSize</key>
			<string>{858,104}</string>
			<key>textureRect</key>
			<string>{{1,293},{851,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-3.5}</string>
			<key>spriteSize</key>
			<string>{368,70}</string>
			<key>spriteSourceSize</key>
			<string>{374,77}</string>
			<key>textureRect</key>
			<string>{{1,1412},{368,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{291,102}</string>
			<key>spriteSourceSize</key>
			<string>{296,111}</string>
			<key>textureRect</key>
			<string>{{1,1},{291,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{266,78}</string>
			<key>spriteSourceSize</key>
			<string>{273,84}</string>
			<key>textureRect</key>
			<string>{{1,1145},{266,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
		<key>size</key>
		<string>{103,1960}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d81614112b2b21e163064ab207678ab0:390f5f978c473cf11002d32983f3ee46:bc2caf3178ecdc5f70cbf6a8b499a4ef$</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
	</dict>
</dict>
</plist>
